<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929662514832-c7m03njhhs8kf0jns1s5arkksuobul91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929662514832-c7m03njhhs8kf0jns1s5arkksuobul91</string>
	<key>API_KEY</key>
	<string>AIzaSyBsJiZh-biK0m4vIY5t6w-rNro5j0PSr90</string>
	<key>GCM_SENDER_ID</key>
	<string>929662514832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takhtiApp</string>
	<key>PROJECT_ID</key>
	<string>takhti-f5878</string>
	<key>STORAGE_BUCKET</key>
	<string>takhti-f5878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929662514832:ios:6d475f2de3a2a7477d0a15</string>
</dict>
</plist>